<html>
    <head>
        <title>Blog Emiy Djangogirls</title>
    </head>

    <body>
	<h1>Première partie</h1>
        <p>Hi there!</p>
	<a href="http://djangogirls.org">link</a>
	<em>texte sur lequel on a mis l'accent</em>
        <p>It works!</p>

	<h2>Deuxième partie</h2>
	<ul><li>lalilalala</li><li>lalulalala</li></ul> 

    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>le blabla en latin</p>
        </div>

    </body>
</html>
